:root {
  --background: #A2CB8B;
  --foreground: #5B7E3C;
  --card: #E8F5BD;
  --card-foreground: #5B7E3C;
  --primary: #5B7E3C;
  --primary-foreground: #E8F5BD;
  --muted: #A2CB8B;
  --muted-foreground: #5B7E3C;
  --accent: #A2CB8B;
  --accent-foreground:  #E8F5BD;
  --destructive: #C44545;
  --border: color-mix(in oklch, var(--accent) 40%, transparent);;
  --radius: 0.75rem;
  --radius-xl: 1.05rem;
  --radius-2xl: 1.4;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, "Segoe UI", Roboto, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: transparent;
  border-radius: var(--radius-xl);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

lucide-angular {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;

  svg {
    display: block;
  }
}

@media (min-width: 1024px) {
  body {
     overflow: hidden;
  }
}

@media (max-width: 1023px) {
  body {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

